<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Css/style-header.css">
</head>

<body>
    <header class="header">
        <a href="./index.html">
            <img src="../components/img/e3jlogo.png" alt="logo E3J">
        </a>
        
        <ul class="menu">
            <li><a href="./servicos.html">SERVIÇOS</a></li>
            <li><a href="#">CONHEÇA-NOS</a></li>
            <li><a href="./blog.html">NOTÍCIAS</a></li>
            <li><a href="#">CONTATO</a></li>
            <li><button class="btn-cadastrar"><a href="./orcamento.html">ORÇAMENTO</a></button></li>
        </ul>
        
        <ul class="icons">
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></a></i></li>
            <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
    </header>
</body>
</html>